/* Global styles */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* Banner styles */
#banner {
    background-color: #1E90FF;
    color: white;
    padding: 20px;
}


/* Introduction styles */
#introduction {
    padding: 20px;
    background-color: #ff6400;
}

/* What do we do styles */
#what-do-we-do {
    padding: 20px;
    background-color: #F44336;
}


/* Requirements styles */
#requirements {
    padding: 10px;
    background-color: #9C27B0;
}

#register {
    padding: 10px;
    background-color: #4CAF50;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}