body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

body a {
    color: #27ecec;
}

body a:visited {
    color: #6cd7d7;
}

#banner {
    background-color: #1E90FF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

#banner img {
    width: 7%;
    height: 7%;
    margin-right: 30px;
}

#banner h1 {
    font-size: 50px;
}

#introduction {
    padding: 20px;
    background-color: #ff6400;
}

#what-do-we-do {
    padding: 20px;
    background-color: #F44336;
}

#requirements {
    padding: 20px;
    background-color: #9C27B0;
}

#register {
    padding: 20px;
    background-color: #4CAF50;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}